* {
  margin: 0;
  text-align: center;
  /* line-height: 100vh; */
}
svg {
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  cursor: pointer;
  z-index: 2;
}

.pc-only > * {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
.mobile-only > * {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}
.buger-Icon {
  @media (max-width: 767px) {
    width: 30px;
    height: 20px;
  }
}
